<dl>
  <dt>Name:</dt>
  <dd><%= @project.name %></dd>

  <dt>Homepage:</dt>
  <dd><%= @project.homepage %></dd>

  <dt>Git URL:</dt>
  <dd><%= @project.git_url %></dd>

  <dt>Description:</dt>
  <dd><%= @project.description %></dd>

</dl>

<!-- Put a big box to the right with the difficulty in it. Really Big!! -->
<div>
  <%= @project.difficulty %>
</div>
