<dl>
  <dt>Name:</dt>
  <dd><%= @project.name %></dd>

  <dt>Homepage:</dt>
  <dd><%= @project.homepage %></dd>

  <dt>Git URL:</dt>
  <dd><%= @project.git_url %></dd>

  <dt>Description:</dt>
  <dd><%= @project.description %></dd>

</dl>

<%= link_to "Update from Origin", project_update_path(@project.id), :rel => "project-origin_update", :method => :put %>

<!-- Put a big box to the right with the difficulty in it. Really Big!! -->
<div>
  <%= @project.difficulty %>
</div>
